* {
  font-family: "Copperplate Gothic Bold", copperplate gothic;
}

.img {
  width: 100vh;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0) 100%
  ), url('https://avatars.mds.yandex.net/get-altay/12851611/2a0000018e2cef4811dbe89b66e485ea56ef/XXXL');
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ranking-table th,
.ranking-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.ranking-table th {
    background-color: #004080;
    color: white;
}

.ranking-table tr:nth-child(even) {
    background-color: #f2f6fc;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid blue;
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
